@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
   
}

.html-icon{
    margin-top: 20px;
}

.container{
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
}
.header-left{
    margin-right: 480px;
    align-items: baseline;
   
}

.header-right{
    float: right;
    margin-top: 20px;
}

.text{
    display: inline-block ;
    text-align: right;
    
}

img{
    width: 600px;
    margin-bottom: 12px;
}

.bottom{
    display: flex;
    padding: 5px;
    padding-left: 2px;
}

.bottom-text{
    padding: 15px;
}

.bookmark{
    margin-left: 440px;
}
.heart{
  margin-left: 10px;
}

.comment{
    margin-left: 10px;
}

.plane{
    margin-left: 10px;
}